* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.container {
    padding: 5px;
    display: grid;
    gap: 5px;
    /* grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px; */
    grid-template: 50px 50px / 250px 50px 50px; /* Shorthand for rows / columns */
    grid-auto-rows: 50px; /* For implicit sizing */
}

.container > div {
    border: 1px solid blue;
}